* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #07081A;
}

.gap-main-div {
    display: flex;
    gap: 64px;
    flex-direction: column;
}

.header-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-second-main-div {
    display: flex;
    max-width: 1040px;
    width: 100%;
    justify-content: space-between;
}

.logo-main-div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.logo-text {
    display: flex;
    color: white;
}

.nav-main-div {
    display: flex;
    align-item}

.nav-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.ul-class {
    display: flex;
    color: white;
    gap: 12px;
}

#home {
    color: #8CE900;
    font-size: 16px;
}

.web-ul {
    display: flex;
    gap: 16px;
    color: white;
    align-items: center;
    justify-content: center;
}

.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-main-div {
    display: flex;
    padding: 20px;
    max-width: 1040px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.first-header {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 52px;
}

.project-main-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-div {
    display: flex;
    padding: 40px 72px;
    max-width: 1040px;
    width: 100%;
    justify-content: space-around;
    background-color: #242642;
    gap: 200px;
}

.second-gap-div {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.first-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.project-header {
    color: #8CE900;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
}

.project-main {
    color: #C0C0C0;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-main-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-div {
    display: flex;
    max-width: 1040px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
    margin-top: 200px;
}

.footer-first-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer-logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-first-text {
    color: #C0C0C0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 264px;
    width: 100%;
}

.footer-navigation-div {
    display: flex;
    justify-content: center;
    color: white;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.navigation {
    color: #8CE900;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

.footer-contact-div {
    display: flex;
    max-width: 1040px;
    gap: 254px;
    flex-direction: column;
    gap: 16px;
}

.contact {
    color: #8CE900;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.second-p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
